@page
@model ByLAN.Pages.Billetter

@{
    ViewData["Title"] = "Billetter";
}
<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/bakgrunn.jpg">
		<div class="container">
			<h2>@ViewData["Title"]</h2>
		</div>
	</section>
	<!-- Page top section end -->

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>