# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ByLAN2021.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\adria\RiderProjects\ByLAN2021\.idea\.idea.ByLAN2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
